<div class="row">
    {% include 'breadcrumb' %}
</div>
{%- include 'blog/blog-text' -%}
{% if blog.handle == 'blog' %}
  {% include 'blog/blog-page' %}
{% elseif blog.handle != 'info' %}
  {% paginate blog.articles by 36 %}

  <div class="row">
    {% for article in blog.articles  %}
      {% include 'blog/blog-item', article: article %}
    {% endfor %}
    
  </div>
  <div class="row">
    {% if paginate.pages > 1 %}
        {% include 'pagination-custom' %}
    {% endif %}
  </div>
  {% endpaginate %}

{% else %}
  {% include 'blog/handbook-page' %}
{% endif %}
{% include 'footer/contact-us' %}
{% include 'footer/request-call' %}
