<div class="row">
    {% include 'breadcrumb' %}
</div>
{%- include 'blog/blog-text' -%}
{% paginate blog.articles by 36 %}

<div class="row">
  {% for article in blog.articles  %}
    {% include 'blog/blog-item', article: article %}
  {% endfor %}
  
</div>
<div class="row">
  {% if paginate.pages > 1 %}
      {% include 'pagination-custom' %}
  {% endif %}
</div>

{% endpaginate %}
