<div class="row">
    <div class="col-xs-12 col-md-12 breadcrumb_container">
      {% include 'breadcrumb' %} 
    </div>
    {%- if from_filter == true and (collection_type == "region" or (collection_type == "type" and city_product == null and region_product == null)) -%}
      <div class="row">
        <h2 class="text-center">{{-'your-request2' | t -}}&nbsp;{%- include 'product-count' -%}&nbsp;{{-'objects' | t -}}</h2>
      </div>
      {% include 'product-list' %}
    {%endif%}
  
    {% include 'headers/header-about' %}
    {%- if collection_type == 'region' or collection_type == 'type' -%}
    {% include 'headers/region-header' %}
    {%- endif -%}
    
    {% include 'headers/header-name' %}

    {%- if collection_type == 'city' -%}
      {% include 'headers/city-header' %}
    {%- endif -%}
    
    {%- if collection_type == 'region' or collection_type == 'type' -%}
      {% include 'market-block' %} 
    {%- endif -%}
    
    {%- if collection_type == 'city' or (collection_type == 'type' and (region_product or city_product))  -%}
      <h4 class="text-center">{{'found' | t }} {% include 'product-count' %} {{ 'objects' | t }}</h4>
      {% include 'product-list' %}
    {%endif%}

    {%- if collection_type == 'region' or collection_type == 'type'-%}
      {% include 'footer/region' %}
    {%- endif -%}
    
    {% include 'footer/contact-us' %}
    {% include 'footer/about' %}
  </div>
</div>