<div class="row">
  <div class="col-xs-12 col-md-12 breadcrumb_container">{% include 'breadcrumb' %}</div>
    {% include 'headers/header-about' %}
    {% include 'headers/header-name' %}
    {% include 'product-list' %}
    {% include 'footer/contact-us' %}
    {% include 'footer/about' %}
  </div>
</div>