<div class="row">
  <div class="header_media"></div>
  <div class="col-xs-12 col-md-12 breadcrumb_container">{% include 'breadcrumb' %}</div>
  <div class="col-md-9">
    {% paginate collection.products by 36 %}
      {% for product in collection.products %}
        {% include 'product-grid-item', product: product %}
      {% endfor %}
      {% if paginate.pages > 1 %}
        {% include 'pagination-custom' %}
      {% endif %}
    {% endpaginate %}
  </div>
</div>