<div class="row">
    <div class="col-xs-12 col-md-12 breadcrumb_container">
      {% include 'breadcrumb' %}
    </div>
    {% include 'market-block' %} 
    {% include 'headers/header-about' %}
    {% include 'headers/region-header' %}
    {% include 'headers/header-name' %}
    {% include 'footer/region' %}
    {% include 'headers/city-header' %}
    
    {% include 'product-list' %}
    
    {% include 'footer/contact-us' %}
    {% include 'footer/about' %}
  </div>
</div>