{% for blog in blogs %}
    {% if blog.handle != related_category %}
        {% continue %}
    {% endif %}
    <div class="row news-item">
    {% for item in blog.articles %}
        {% if forloop.index == 5 %}
            {% break %}
        {% endif %}
        {% if forloop.index == 4 %}
            {% include 'blog/blog-related-item', item, add_class: 'display-mobile' %}
        {% else %}
            {% include 'blog/blog-related-item', item %}
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}