{% for blog in blogs %}
    {% if blog.handle != related_category %}
        {% continue %}
    {% endif %}
    {% for item in blog.articles %}
        {% if forloop.index == 5 %}
            {% break %}
        {% endif %}
        {% if forloop.index == 4 %}
            <div class="row blog-item">
                {% include 'blog/blog-related-item', item, add_class: 'display-mobile' %}
            </div>
        {% else %}
            <div class="row blog-item">
                {% include 'blog/blog-related-item', item %}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}