/* custom styles */
.request-from-license {
    margin-left: 25px;
    margin-top: auto;
}

@media (max-width:1024px) {
    .addition-form {
        display: none;
    }
}

.contact-sidebar-call-back input[type=submit], 
.contact-sidebar-request input[type=submit] {
    width: 250px;
}

.header-social-icons {
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 20px;
    width: 100%;
    background-color: #f2f2e9;
    display: block;
}
.header_wrapper.customnav .header-social-icons {
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
}
.wide .header_wrapper {
    height: 110px !important;
}
.has_header_type3 .header_media {
    padding-top: 111px;
}
.header_wrapper.customnav {
    height: 90px !important;
}
.header_wrapper .header_wrapper_inside {
    height: 90px !important;
}
.entry-title:first-letter {
    text-transform: uppercase;
}

.product-preview {
    word-spacing: -6px;
    margin: 10px -5px 5px;
}
.preview-item {
    width: 33.3333%;
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
}
.preview-inner {
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: 50%;
    border: #FAFAFA 2px solid;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
}

span.license {
    font-size: 13px;
    color: #999;
    line-height: 1.4;
    margin-bottom: 15px;
    display: block;
}
.agent_contanct_form_sidebar #show_contact {
    text-align: center;
}
.single-content .addition-form .row {
    margin-left: -7px;
    margin-right: -7px
}
.single-content .addition-form .col-md-4, .single-content .addition-form .col-md-12 {
    padding-left: 7px;
    padding-right: 7px
}
