/* custom styles */
.request-from-license {
    margin-left: 25px;
    margin-top: auto;
}

@media (max-width:1024px) {
    .addition-form {
        display: none;
    }
}

.contact-sidebar-call-back input[type=submit], .contact-sidebar-request input[type=submit] {
    width: 250px;
}