.mobile-logo img
{
	max-height: 55px;
}
/* displays */
.display-mobile{
    display: none;
}
.no-display-mobile{
    display: block;
}

.list-image-gellery
{
	display: block;
}
.mobile-list-image
{
	display: none;
}
.mobile-list-image ul
{
	margin: 0px;
	list-style: none;
}
.mobile-list-image li
{
	margin-bottom: 10px;
}
.mobile-list-image ul img
{
	width: 100%;
}
.display-price-normal
{
	display: block;
}
.display-price-top
{
	display: none;
}
/* mobile navigation */
.pagination-custom-mobile
{ 
	display: none;
}
@media(max-width: 1100px)
{
	.pagination-container .social{
		float: none;
		width: 250px;
		margin: 0 auto;
	}
}
@media (max-width: 1024px) {
	.static
	{
		padding: 70px 0 0;
	}

	.static .opros-inner
	{
		width: 80%;
	}

	.opros-reviews .list-item
	{
		width: 100%;
	}
	.pagination-container .social{
		float: none;
		width: 250px;
		margin: 0 auto;
	}
}

@media (max-width: 992px) {
	.breadcrumb
	{
		padding: 0 15px;
	}
	.display-mobile{
        display: block;
    }
    .no-display-mobile{
        display: none;
    }
    .container.content_wrapper
    {
        padding: 0px;
    }
	.property-panel .panel-body
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.sub_footer *
	{
		text-align: center;
	}
	.agent_unit {
		width: 50%;
		height: 527.5px;
	}
	.agent_contanct_form_sidebar .agent_contanct_form
	{
		margin-top: 0px;
		margin-left: 5px;
		width: 48.99999%;
		height: 527.5px;
	}
	#footer-widget-area
	{
		display: flex;
	}
	.widget-area
	{
		width: 50%;
	}
	.listing_main_image
	{
		height: 300px;
	}
	.license
	{
		text-align: center;
	}
	.row.contact-us-footer
	{
		display: flex
	}
	.contact-us-footer .col-md-3,
	.contact-us-footer .agent_unit
	{
		width: 100%;
		height: 563px;
	}
}
@media(max-width:830px)
{
	.pagination-custom
	{
		display: none;
	}
	.pagination-custom-mobile
	{
		display: block;
	}
}
@media (max-width: 800px) {
	.entry-tax
	{
		font-size: 32px;
	}

	.tax_tagline
	{
		font-size: 16px;
		line-height: 1.4;
	}

	
}
@media (max-width: 768px)
{
	.product-preview
    {
        margin-left: 5px;
        margin-right: 5px;
    }
    .product-preview .preview-item
    {
        width: 100%;
    }
}
@media (max-width: 664px)
{
	.row.contact-us-footer
	{
		display: block;
	}
	.row.contact-us-footer .col-md-9
	{
		margin-top: 30px;
	}
	.contact-us-footer .agent_unit,
	.contact-us-footer .col-md-3
	{
		height: auto;
		float: none;
	}
	.agent_unit {
		width: 100%;
		height: auto;
	}
	
	.agent_unit .agent_unit_social
	{
		position: relative;
	}
	.agent_contanct_form_sidebar .agent_contanct_form
	{
		margin-top: 30px;
		margin-left: 0px;
		width: 100%;
	}
}

@media (max-width: 640px) {
	.slider-information
	{
		bottom: 0;
	}
}

@media (max-width: 600px) {
	.prop_social
	{
		float: left;
		margin: 25px 0 0;
		position: static;
		width: 100%;
	}
	.notice_area
	{
		height: 150px;
	}
	.display-price-normal{
		display: none;
	}
	.display-price-top{
		display: block;
	}
	.display-price-top .price_area{
		float: none;
		text-align: center;
	}
	.order
	{
		border: none;
	}
	.order ul li
	{
		float: none;
	}
}
@media (max-width: 540px)
{
	.row.product-list
	{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media(max-width: 500px)
{
	.entry-title.entry-prop
	{
		text-align: center;
	}
	.price_area
	{
		width: 100%;
		text-align: center;
	}
	.list-image-gellery
	{
		display: none;
	}
	.mobile-list-image
	{
		display: block;
	}
	.prop_pricex
	{
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	.static .form
	{
		-webkit-flex-direction: column;
				flex-direction: column;
	}

	.static .form input
	{
		margin: 0 0 10px;
	}

	.static .form button
	{
		width: 100%;
	}
	#footer-widget-area
	{
		display: block;
	}
	.widget-area
	{
		width: 100%;
	}	
	.notice_area
	{
		height: 165px !important;
	}
	#colophon .xoxo
	{
		padding-top: 65px;
	}
	#first .xoxo
	{
		padding-top: 15px;
	}
}