<ul class="sub-menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <li class="menu-item menu-item-type-post_type"><a href="/about">О компании</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/about#contacts">Контакты</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/about#reviews">Отзывы</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/partners">Партнерам</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/about#press">Для прессы</a></li>
    </li>
</ul>