<ul class="sub-menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <li class="menu-item menu-item-type-post_type"><a href="/o-kompanii">О компании</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/o-kompanii#contacts">Контакты</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/o-kompanii#reviews">Отзывы</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/partners">Партнерам</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/o-kompanii#press">Для прессы</a></li>
        <li class="menu-item menu-item-type-post_type"><a href="/job">Вакансии в Estate-spain</a></li>
    </li>
</ul>