<ul class="sub-menu wpestate_megamenu_col_4">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4 wpestate_megamenu_first_element  mega_menu_border ">
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/about">О компании</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/about#contacts">Контакты</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/about#reviews">Отзывы</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4">
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/parthners">Партнерам</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/about#press">Для прессы</a></li>
        </ul>
    </li>
</ul>