<ul class="sub-menu wpestate_megamenu_col_4">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4 wpestate_megamenu_first_element   ">
      <div class="megamenu-title">Север</div>
      <ul class="sub-menu wpestate_megamenu_col_4">
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/barcelona">Барселона</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/lloret-de-mar">Ллорет-де-Мар</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/playa-de-aro">Плайя-де-Аро</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/sagaro">Сагаро</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/salou">Салоу</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/tossa-de-mar">Тосса-де-Мар</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">Центр</div>
      <ul class="sub-menu wpestate_megamenu_col_4">
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/altea">Альтеа</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/benidorm">Бенидорм</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/benitachell">Бенитачель</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/valencia">Валенсия</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/denia">Дения</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/calpe">Кальп</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">Центр</div>
      <ul class="sub-menu wpestate_megamenu_col_4">
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/alicante">Аликанте</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/guardamar-del-segura">Гуардамар-дель-Сегура</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/la-mata">Ла-Мата</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/orihuela-costa">Ориуэла Коста</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/punta-prima">Пунта-Прима</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/torrevieja">Торревьеха</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">Юг</div>
      <ul class="sub-menu wpestate_megamenu_col_4">
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/benaavis">Бенаавис</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/casares">Касарес</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/malaga">Малага</a></li>    
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/marbella">Марбелья</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/mjhas">Михас</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/estepona">Эстепона</a></li>
      </ul>
   </li>
</ul>