<ul class="  sub-menu wpestate_megamenu_col_4">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4 wpestate_megamenu_first_element   ">
      <div class="megamenu-title">от А до ХХХ</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 1</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 2</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 3</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 4</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 5</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 6</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">от XXX до ХХХ</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 7</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 8</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 9</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 10</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 11</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 12</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">от XXX до ХХХ</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 13</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 14</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 15</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 16</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 17</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 18</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">от XXX до ХХХ</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 19</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 20</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 21</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 22</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 23</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Город 24</a></li>
      </ul>
   </li>
</ul>