<ul class="sub-menu">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>от А до ХХХ</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-post_type"><a href="">Город 1</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 2</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 3</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 4</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 5</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 6</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>от XXX до ХХХ</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-post_type"><a href="">Город 7</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 8</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 9</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 10</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 11</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 12</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>от XXX до ХХХ</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-post_type"><a href="">Город 13</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 14</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 15</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 16</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 17</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 18</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>от XXX до ХХХ</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-post_type"><a href="">Город 19</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 20</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 21</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 22</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 23</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Город 24</a></li>
      </ul>
   </li>
</ul>