<ul class="sub-menu">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>Популярные</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-custom"><a href="/alicante">Аликанте</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/barcelona">Барселона</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/benidorm">Бенидорм</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/denia">Дения</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/lloret-de-mar">Ллорет де Мар</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/malaga">Малага</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>Популярные</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-custom"><a href="/marbella">Марбелья</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/playa-de-aro">Плайя де Аро</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/sagaro">Сагаро</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/salou">Салоу</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/torrevieja">Торревьеха</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/estepona">Эстепона</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>Другие</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-custom"><a href="/altea">Альтеа</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/valencia">Валенсия</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/benitachell">Бенитачель</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/blanes">Бланес</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/guardamar-del-segura">Гуардамар-дель-Сегура</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/calpe">Кальп</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>Другие</a>
      <ul class="sub-menu">
         <li class="menu-item menu-item-type-custom"><a href="/orihuela-costa">Ориуэла Коста</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/pilar-de-la-horadada">Пилар-де-ла-Орадада</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/punta-prima">Пунта-Прима</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/teulada">Теулада</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/tossa-de-mar">Тосса-де-Мар</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/finestrat">Финестрат</a></li>
      </ul>
   </li>
</ul>