<ul class="  sub-menu wpestate_megamenu_col_4">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4 wpestate_megamenu_first_element   ">
      <div class="megamenu-title">Популярные</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/alicante">Аликанте</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/barcelona">Барселона</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/benidorm">Бенидорм</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/denia">Дения</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/lloret-de-mar">Ллорет де Мар</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/malaga">Малага</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">Популярные</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/marbella">Марбелья</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/playa-de-aro">Плайя де Аро</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/sagaro">Сагаро</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/salou">Салоу</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/torrevieja">Торревьеха</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/estepona">Эстепона</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">Другие</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/altea">Альтеа</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/valencia">Валенсия</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/benitachell">Бенитачель</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/blanes">Бланес</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/guardamar-del-segura">Гуардамар-дель-Сегура</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/calpe">Кальп</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
      <div class="megamenu-title">Другие</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_4">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/orihuela-costa">Ориуэла Коста</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/pilar-de-la-horadada">Пилар-де-ла-Орадада</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/punta-prima">Пунта-Прима</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/teulada">Теулада</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/tossa-de-mar">Тосса-де-Мар</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/finestrat">Финестрат</a></li>
      </ul>
   </li>
</ul>