               
<!-- #first .widget-area -->
<div id="second" class="widget-area col-md-3 no-display-mobile">
    <ul class="xoxo">
        <li><h5 style="color: #C3C3C3;margin:0;padding:0">Виды недвижимости</h5></li>
        <li><a href="/villy">Виллы</a></li>
        <li><a href="/vtorichnaya">Вторичное жилье</a></li>
        <li><a href="/doma">Дома</a></li>
        <li><a href="/zemlya">Земельные участки</a></li>
        <li><a href="/kvartiry-apartamenty">Квартиры и апартаменты</a></li>
        <li><a href="/kommercheskaya">Коммерческая недвижимость</a></li>
        <li><a href="/nedorogaya">Недорогое</a></li>
        <li><a href="/novostroyki">Новостройки</a></li>
        <li><a href="/ot-bankov">От банков</a></li>
        <li><a href="/townhouse">Таунхаусы и бунгало</a></li>
        <li><a href="/na-more">У моря</a></li>
        <li><a href="/elitnaya">Элитное</a></li>
        <li><h5 style="color: #C3C3C3;margin:0;padding:0; padding-top:5px">Полезная информация</h5></li>
        <li><a href="/info">Справочник покупателя</a></li>
        <li><a href="/blog">Блог</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/obzory">Обзоры</a></li>
        <li><a href="/style">Дизайн и стиль</a></li>
    </ul>
</div>
<!-- #second .widget-area -->
<div id="third" class="widget-area col-md-3 no-display-mobile">
    <div class="textwidget">
        <ul class="xoxo">
        <li><h5 style="color: #C3C3C3;margin:0;padding:0; padding-top:5px">Регионы</h5></li>
        <li><a href="/barcelona-okrestnosti">Барселона и окрестности</a></li>
        <li><a href="/costa-calida">Коста Калида</a></li>
        <li><a href="/costa-dorada">Коста Дорада </a></li>
        <li><a href="/costa-del-sol">Коста дель Соль</a></li>
        <li><a href="/costa-del-valencia">Коста дель Валенсия</a></li>
        <li><a href="/costa-brava">Коста Брава</a></li>
        <li><a href="/costa-blanca">Коста Бланка</a></li>
        <li><a href="/catalonia">Каталония</a></li>
        <li><h5 style="color: #C3C3C3;margin:0;padding:0; padding-top:5px">Популярные города</h5></li>
        <li><a href="/alicante">Аликанте</a></li>
        <li><a href="/barcelona">Барселона</a></li>
        <li><a href="/benidorm">Бенидорм</a></li>
        <li><a href="/lloret-de-mar">Ллорет де Мар</a></li>
        <li><a href="/marbella">Марбелья</a></li>
        <li><a href="/playa-de-aro">Плайя де Аро</a></li>
        <li><a href="/salou">Салоу</a></li>
        <li><a href="/torrevieja">Торревьеха</a></li>
        </ul>
    </div>
</div>


