<li><a href="">Виллы и дома</a></li>
<li><a href="">Земельные участки</a></li>
<li><a href="">Квартиры и аппартаменты</a></li>
<li><a href="">Коммерческая</a></li>
<li><a href="">Танхаусы и бунгало</a></li>
<li><a href="">Земельные участки</a></li>
<li><a href="">Виллы и дома</a></li>
<li><a href="">Земельные участки</a></li>
<li><a href="">Квартиры и аппартаменты</a></li>
<li><a href="">Коммерческая</a></li>
<li><a href="">Танхаусы и бунгало</a></li>
<li><a href="">Земельные участки</a></li>
<li><a href="">Виллы и дома</a></li>
<li><a href="">Земельные участки</a></li>
<li><a href="">Квартиры и аппартаменты</a></li>
<li><a href="">Коммерческая</a></li>
<li><a href="">Танхаусы и бунгало</a></li>
<li><a href="">Земельные участки</a></li>
