<ul class="sub-menu wpestate_megamenu_col_4">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4 wpestate_megamenu_first_element  mega_menu_border ">
        <div class="megamenu-title">{{ 'menu.helpful.pay' | t }}</div>
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/process-pokupki-kak-kupit-nedvizhimost-v-ispanii">Процедура покупки жилья</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/nalogi-na-nedvizhimost">Налоги при покупке и продаже</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/soderzhanie-nedvizhimosti">Расходы на содержание</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/ipoteka-v-ispanii-dlya-rossiyan">Все об ипотеке в Испании</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/news/ceny-na-ispanskyu-nedvizimost-v-pervom-polugodii-2017-goda">Обзор цен на недвижимость</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info">Справочник покупателя</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
        <div class="megamenu-title">{{ 'menu.helpful.vnj' | t }}</div>
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/vnzh-v-ispanii-nedvizhimost">ВНЖ на основании владения жильем</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/kak-poluchit-grazhdanstvo-ispanii">Как получить ВНЖ и гражданство</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/emigraciya-i-immigraciya-v-ispaniyu">Эмиграция и иммиграция</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/info/viza-v-ispaniju-chto-novogo">Визы для россиян</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom wpestate_megamenu_col_4">
        <div class="megamenu-widgets-container">
            <ul>
                <li class="widget widget-container sbg_widget blog1 widget_text">
                    <div class="textwidget">
                        <div class="megamenu-demos">
                            <a href="/info">
                                <img style="background-image: url('{{ 'images/handbook_blog_header_img_small.jpg' | static_asset_url }}'); background-size: cover; height:170px;visibility: visible;" />
                            </a>
                        </div>
                        <a href="/info">Справочник покупателя</a> 
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom wpestate_megamenu_col_4">
        <div class="megamenu-widgets-container">
            <ul>
            <li class="widget widget-container sbg_widget blog2 widget_text">
                <div class="textwidget">
                    <div class="megamenu-demos">
                        <a href="/news/ceny-na-ispanskyu-nedvizimost-v-pervom-polugodii-2017-goda">
                            <img style="background-image: url('{{'images/menu/ceny-2017.jpg' | static_asset_url}}'); background-size: cover; height:170px;visibility: visible" />
                        </a>
                    </div>
                    <a href="/news/ceny-na-ispanskyu-nedvizimost-v-pervom-polugodii-2017-goda">Цены на испанскую недвижимость в первом полугодии 2017 года и прогноз на будуще</a> 
                </div>
            </li>
            </ul>
        </div>
    </li>
</ul>
