<ul class="sub-menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a>{{ 'menu.helpful.pay' | t }}</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type"><a href="/info/process-pokupki-kak-kupit-nedvizhimost-v-ispanii">Процедура покупки жилья</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/info/nalogi-na-nedvizhimost">Налоги при покупке и продаже</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/info/soderzhanie-nedvizhimosti">Расходы на содержание</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/info/ipoteka-v-ispanii-dlya-rossiyan">Все об ипотеке в Испании</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/news/ceny-na-nedvizhimost-2016-2017">Обзор цен на недвижимость</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a>{{ 'menu.helpful.vnj' | t }}</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type"><a href="/info/vnzh-v-ispanii-nedvizhimost">ВНЖ на основании владения жильем</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/info/kak-poluchit-grazhdanstvo-ispanii">Как получить ВНЖ и гражданство</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/info/emigraciya-i-immigraciya-v-ispaniyu">Эмиграция и иммиграция</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/info/viza-v-ispaniju-chto-novogo">Визы для россиян</a></li>
        </ul>
    </li>
</ul>