<ul class="sub-menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a>{{ 'menu.interesting.cat' | t }}</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type"><a href="/news">Дайджейст новостей</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/obzory">Обзоры испанских городов </a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/blog">Самое интересное про Испанию</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/obzory/kak-uletet-v-ispaniju-bilety">Авиарейсы в Испанию</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a>{{ 'menu.interesting.cat2' | t }}</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type"><a href="/blog/obrazovanie-v-ispanii">Образование в Испании</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/blog/leto-v-ispanii-raspisanie-sobytij-2017">Испанские праздники</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/blog/harakter-mentalitet-ispantsev">Менталитет и характер испанцев</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/style">Дизайн и интерьер</a></li>
        </ul>
    </li>
</ul>