<ul style="background-color: #fafafa;" class="  sub-menu wpestate_megamenu_col_3">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_3 wpestate_megamenu_first_element   ">
      <div class="megamenu-title">{{ 'menu.realty.views' | t }}</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_3">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/kvartiry-apartamenty">Квартиры и апратаменты</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/townhouse">Таунхаусы и бунгало</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/doma">Дома</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/villy">Виллы</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/zemlya">Земельные участки</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/kommercheskaya">Коммерческая недвижимость</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_3   ">
      <div class="megamenu-title">{{ 'menu.realty.state' | t }}</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_3">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/vtorichnaya">Вторичное жилье</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/nedorogaya">Недорогая</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/ot-bankov">От банков</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/novostroyki">Новостройки</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/elitnaya">Элитное</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_3   ">
      <div class="megamenu-title">{{ 'menu.realty.features' | t }}</div>
      <ul style="" class="  sub-menu wpestate_megamenu_col_3">
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/na-more">У моря </a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Тэг2</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">ТЭг3</a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="">Тэг 4 </a></li>
         <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/arenda">Аренда недвижимости</a></li>
      </ul>
   </li>
</ul>