<ul class="sub-menu">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>{{ 'menu.realty.views' | t }}</a>
      <ul style="" class="sub-menu">
         <li class="menu-item menu-item-type-custom"><a href="/kvartiry-apartamenty">Квартиры и апратаменты</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/townhouse">Таунхаусы и бунгало</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/doma">Дома</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/villy">Виллы</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/zemlya">Земельные участки</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/kommercheskaya">Коммерческая недвижимость</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>{{ 'menu.realty.state' | t }}</a>
      <ul style="" class="sub-menu">
         <li class="menu-item menu-item-type-custom"><a href="/vtorichnaya">Вторичное жилье</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/nedorogaya">Недорогое</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/ot-bankov">От банков</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/novostroyki">Новостройки</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/elitnaya">Элитное</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a>{{ 'menu.realty.features' | t }}</a>
      <ul style="" class="sub-menu">
         <li class="menu-item menu-item-type-custom"><a href="/na-more">У моря </a></li>
         <li class="menu-item menu-item-type-custom"><a href="/v-gorah">В горах</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/prigorod">В пригородах </a></li>
         <li class="menu-item menu-item-type-custom"><a href="/vozle-univer">Рядом с университетами</a></li>
         <li class="menu-item menu-item-type-custom"><a href="/arenda">Аренда недвижимости</a></li>
      </ul>
   </li>
</ul>