<ul class="sub-menu">
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a href="#">{{ 'menu.realty.views' | t }}</a>
      <ul style="" class="sub-menu">
         <li class="menu-item menu-item-type-post_type"><a href="/kvartiry-apartamenty">Квартиры и апратаменты</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="/townhouse">Таунхаусы и бунгало</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="/doma">Дома</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="/villy">Виллы</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="/zemlya">Земельные участки</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="/kommercheskaya">Коммерческая недвижимость</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a href="#">{{ 'menu.realty.state' | t }}</a>
      <ul style="" class="sub-menu">
         <li class="menu-item menu-item-type-post_type"><a href="/vtorichnaya">Вторичное жилье</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="/nedorogaya">Недорогая</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="/ot-bankov">От банков</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Новостройки</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Элитное</a></li>
      </ul>
   </li>
   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
      <a href="#">{{ 'menu.realty.features' | t }}</a>
      <ul style="" class="sub-menu">
         <li class="menu-item menu-item-type-post_type"><a href="">У моря </a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Тэг2</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">ТЭг3</a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Тэг 4 </a></li>
         <li class="menu-item menu-item-type-post_type"><a href="">Аренда недвижимости</a></li>
      </ul>
   </li>
</ul>