<ul class="sub-menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="#">{{ 'menu.regions.popular' | t }}</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type"><a href="/costa-brava">Коста Брава</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/">Барселона и окрестности</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/costa-blanka">Коста Бланка</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/costa-del-sol">Коста-дель-Соль</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="#">{{ 'menu.regions.other' | t }}</a>
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-post_type"><a href="/costa-del-valencia">Коста дель Валенсия</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/costa-del-maresme">Коста-дель-Маресме</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/costa-del-almeria">Коста-дель-Альмерия</a></li>
            <li class="menu-item menu-item-type-post_type"><a href="/costa-dorada">Коста Дорада</a></li>
        </ul>
    </li>
</ul>