<ul class="sub-menu wpestate_megamenu_col_4">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4 wpestate_megamenu_first_element  mega_menu_border ">
        <div class="megamenu-title">{{ 'menu.regions.popular' | t }}</div>
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/barcelona-okrestnosti">Барселона и окрестности</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/catalonia">Каталония</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-blanca">Коста Бланка</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-brava">Коста Брава</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-del-sol">Коста-дель-Соль</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-dorada">Коста Дорада</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4   ">
        <div class="megamenu-title">{{ 'menu.regions.other' | t }}</div>
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-maresme">Коста Маресме</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-calida">Коста Калида</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-del-valencia">Коста дель Валенсия</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/costa-garraf">Коста Гарраф</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom wpestate_megamenu_col_4">
        <div class="megamenu-widgets-container">
            <ul>
            <li id="text-12" class="widget widget-container sbg_widget blog2 widget_text">
                <div class="textwidget">
                    <div class="megamenu-demos">
                        <a href="/costa-brava"><img src="{{'images/costa-brava-preview.jpg' | static_asset_url}}" alt="demo">
                        </a>
                    </div>
                    <a href="/costa-brava">Коста Брава</a> 
                </div>
            </li>
            </ul>
        </div>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom wpestate_megamenu_col_4">
        <div class="megamenu-widgets-container">
            <ul>
            <li id="text-11" class="widget widget-container sbg_widget blog1 widget_text">
                <div class="textwidget">
                    <div class="megamenu-demos">
                        <a href="/costa-blanca"><img src="{{ 'images/costa-blanka-preview.jpg' | static_asset_url }}" alt="demo">
                        </a>
                    </div>
                    <a href="/costa-blanca">Коста Бланка</a> 
                </div>
            </li>
            </ul>
        </div>
    </li>
</ul>