{% if meta_info_product.seotext_down1 or meta_info_product.seotext_down2 or meta_info_product.seotext_down3 %}
<div class="row about-footer">
    <div class="col-md-9">
        
        <div class="about">
            {%- if meta_info_product.seotext_down1 -%}
            <div class="text">
                <a id="advantages"></a>
                {{- meta_info_product.seotext_down1 -}}
            </div>
            {%- endif -%}
            {%- if meta_info_product.seotext_down2 -%}
            <div class="text">
                <a id="approach"></a>
                {{- meta_info_product.seotext_down2 -}}
            </div>
            {%- endif -%}
            {%- if meta_info_product.seotext_down3 -%}
            <div class="text">
                <a id="coast"></a>
                {{- meta_info_product.seotext_down3 -}}
            </div>
            {%- endif -%}
        </div>
    </div>
    <div class="col-md-3 no-display-mobile">
        <div class="banner">
            Баннер
        </div>
    </div>
</div>
{% endif %}