<div class="row about-footer">
    <div class="col-md-9 about">
        <div class="row text">
            Провинция Аликанте славится своим отличным климатом и природой, багатой историей и культурой, а цены на жилье здесь более чем разумные.
        </div>
        <div class="row text">
            <h3>{{ 'collection.advantages' | t }}</h3>
            <a id="advantages"></a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec efficitur ex. Donec vehicula bibendum facilisis. Fusce varius aliquam nibh. Duis porta posuere mauris sed elementum. Integer leo augue, volutpat nec mauris nec, imperdiet interdum libero. Ut et feugiat tellus. Integer eu auctor velit. Nulla id rutrum nisi. Etiam et quam non arcu rhoncus imperdiet sagittis sed eros. Suspendisse vitae nisi erat. Integer massa dolor, hendrerit vitae mauris eget, eleifend euismod sem. Cras lacus ligula, accumsan sit amet purus pellentesque, tristique placerat ligula. Ut nec ultrices lorem, vel semper odio. Aenean vel condimentum augue. Maecenas maximus, urna nec congue fringilla, erat massa sollicitudin metus, eu condimentum sem felis eu metus.
            Etiam eu massa nisi. Integer lobortis tincidunt eros, ac accumsan nibh pulvinar eget. Aliquam porttitor nulla magna, feugiat luctus odio commodo sed. Nulla aliquet egestas interdum. Ut et dolor at urna sodales commodo id nec elit. Nam dapibus ante vel diam ultrices, at varius nulla sollicitudin. Maecenas bibendum pulvinar vulputate.
        </div>
        <div class="row text">
            <h3>{{ 'collection.approach' | t }}</h3>
            <a id="approach"></a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec efficitur ex. Donec vehicula bibendum facilisis. Fusce varius aliquam nibh. Duis porta posuere mauris sed elementum. Integer leo augue, volutpat nec mauris nec, imperdiet interdum libero. Ut et feugiat tellus. Integer eu auctor velit. Nulla id rutrum nisi. Etiam et quam non arcu rhoncus imperdiet sagittis sed eros. Suspendisse vitae nisi erat. Integer massa dolor, hendrerit vitae mauris eget, eleifend euismod sem. Cras lacus ligula, accumsan sit amet purus pellentesque, tristique placerat ligula. Ut nec ultrices lorem, vel semper odio. Aenean vel condimentum augue. Maecenas maximus, urna nec congue fringilla, erat massa sollicitudin metus, eu condimentum sem felis eu metus.
            Etiam eu massa nisi. Integer lobortis tincidunt eros, ac accumsan nibh pulvinar eget. Aliquam porttitor nulla magna, feugiat luctus odio commodo sed. Nulla aliquet egestas interdum. Ut et dolor at urna sodales commodo id nec elit. Nam dapibus ante vel diam ultrices, at varius nulla sollicitudin. Maecenas bibendum pulvinar vulputate.
        </div>
        <div class="row text">
            <h3>{{ 'collection.coast' | t }}</h3>
            <a id="coast"></a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec efficitur ex. Donec vehicula bibendum facilisis. Fusce varius aliquam nibh. Duis porta posuere mauris sed elementum. Integer leo augue, volutpat nec mauris nec, imperdiet interdum libero. Ut et feugiat tellus. Integer eu auctor velit. Nulla id rutrum nisi. Etiam et quam non arcu rhoncus imperdiet sagittis sed eros. Suspendisse vitae nisi erat. Integer massa dolor, hendrerit vitae mauris eget, eleifend euismod sem. Cras lacus ligula, accumsan sit amet purus pellentesque, tristique placerat ligula. Ut nec ultrices lorem, vel semper odio. Aenean vel condimentum augue. Maecenas maximus, urna nec congue fringilla, erat massa sollicitudin metus, eu condimentum sem felis eu metus.
            Etiam eu massa nisi. Integer lobortis tincidunt eros, ac accumsan nibh pulvinar eget. Aliquam porttitor nulla magna, feugiat luctus odio commodo sed. Nulla aliquet egestas interdum. Ut et dolor at urna sodales commodo id nec elit. Nam dapibus ante vel diam ultrices, at varius nulla sollicitudin. Maecenas bibendum pulvinar vulputate.
        </div>
    </div>
    <div class="col-md-3">
        <div class="link-list-footer">
            <div class="row">
                <h4>Выбрать по особеностям:</h4>
                <ul>
                    <li>
                        <a href="#">Элитная (3)</a>
                    </li>
                    <li>
                        <a href="#">От банков (6)</a>
                    </li>
                    <li>
                        <a href="#">На море (20)</a>
                    </li>
                    <li>
                        <a href="#">Недорогая (17)</a>
                    </li>
                    <li>
                        <a href="#">В горах (7)</a>
                    </li>
                    <li>
                        <a href="#">Заброшенная (15)</a>
                    </li>
                    <li>
                        <a href="#">Пригород (20)</a>
                    </li>
                    <li>
                        <a href="#">Возле уневерситета (10)</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <h4>Рядом с Аликанте:</h4>
                <ul>
                    <li>
                        <a href="#">Жирона (5)</a>
                    </li>
                    <li>
                        <a href="#">Росес (6)</a>
                    </li>
                    <li>
                        <a href="#">Сагаро (5)</a>
                    </li>
                    <li>
                        <a href="#">Плайя-де-Аро (3)</a>
                    </li>
                    <li>
                        <a href="#">Ллорет-де-Мар (5)</a>
                    </li>
                    <li>
                        <a href="#">Эмпуриабрава (6)</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <h4>Состояние:</h4>
                <ul>
                    <li>
                        <a href="#">Вторичная (10)</a>
                    </li>
                    <li>
                        <a href="#">Новостройка (20)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row banner">
            Баннер
        </div>
    </div>
</div>