{% if collection.seotext_down1 or collection.seotext_down2 or collection.seotext_down3 %}
<div class="row about-footer">
    <div class="col-md-8">
        
        <div class="about">
            {%- if collection.seotext_down1 -%}
            <div class="text">
                <a id="advantages"></a>
                {{- collection.seotext_down1 -}}
            </div>
            {%- endif -%}
            {%- if collection.seotext_down2 -%}
            <div class="text">
                <a id="approach"></a>
                {{- collection.seotext_down2 -}}
            </div>
            {%- endif -%}
            {%- if collection.seotext_down3 -%}
            <div class="text">
                <a id="coast"></a>
                {{- collection.seotext_down3 -}}
            </div>
            {%- endif -%}
        </div>
    </div>
    {%- include 'blog/blog-linked-article', add_class: 'no-display-mobile-1200' -%}
</div>
{% endif %}