<div class="row region-footer">
   <div class="row">
      <div class="col-md-8" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
         <div class="block-inner" >
            {{- meta_info_product.link_block_left -}}
         </div>
      </div>
      <div class="col-md-3" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
         <div class="block-inner center" >
            {{- meta_info_product.link_block_right -}}
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)" >
         <div class="block-inner row">
            <div class="col-md-6">
                {{- meta_info_product.link_block_centr -}}
            </div>
            <div class="col-md-6">
                {{- meta_info_product.link_block_centr1 -}}
            </div>
         </div>
         
      </div>
   </div>
</div>