<div class="col-md-4">
    <div class="property_listing link-list">
        <div class="listing_details the_list_view" style="display: block">
            <h3>Выбрать по особеностям:</h3>
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="#">Элитная (3)</a>
                    </li>
                    <li>
                        <a href="#">От банков (6)</a>
                    </li>
                    <li>
                        <a href="#">На море (20)</a>
                    </li>
                    <li>
                        <a href="#">Недорогая (17)</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="#">В горах (7)</a>
                    </li>
                    <li>
                        <a href="#">Заброшенная (15)</a>
                    </li>
                    <li>
                        <a href="#">Пригород (20)</a>
                    </li>
                    <li>
                        <a href="#">Возле уневерситета (10)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="property_listing link-list">
        <div class="listing_details the_list_view" style="display: block">
            <h3>Рядом с Аликанте:</h3>
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="#">Жирона (5)</a>
                    </li>
                    <li>
                        <a href="#">Росес (6)</a>
                    </li>
                    <li>
                        <a href="#">Сагаро (5)</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="#">Плайя-де-Аро (3)</a>
                    </li>
                    <li>
                        <a href="#">Ллорет-де-Мар (5)</a>
                    </li>
                    <li>
                        <a href="#">Эмпуриабрава (6)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="property_listing link-list">
        <div class="listing_details the_list_view" style="display: block">
            <h3>Состояние:</h3>
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="#">Вторичная (10)</a>
                    </li>
                    <li>
                        <a href="#">Новостройка (20)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
