{%- if meta_info_product.info_block_listing1 -%}
<div class="col-md-4">
    <div class="property_listing link-list">
        <div class="listing_details the_list_view" style="display: block">
            {{ meta_info_product.info_block_listing1 }}
        </div>
    </div>
</div>
{%- endif -%}
{%- if meta_info_product.info_block_listing2 -%}
<div class="col-md-4">
    <div class="property_listing link-list">
        <div class="listing_details the_list_view" style="display: block">
            {{ meta_info_product.info_block_listing2 }}
        </div>
    </div>
</div>
{%- endif -%}
{%- if meta_info_product.info_block_listing3 -%}
<div class="col-md-4">
    <div class="property_listing link-list">
        <div class="listing_details the_list_view" style="display: block">
            {{ meta_info_product.info_block_listing3 }}
        </div>
    </div>
</div>
{%- endif -%}