{% if collection.products.size > 0 %}
<div class="order row">
    <ul>
        <li>
            <div class="dropdown listing_filter_select">
                <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
                    <span id="sortByPrice">{{ 'filter.price2' | t }}</span>
                    <span>
                        <a class="caret caret_filter top" id="sortByPriceAsc"></a>
                        <a class="caret caret_filter bottom" id="sortByPriceDesc"></a>
                    </span>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown listing_filter_select">
                <div data-toggle="dropdown"  class="filter_menu_trigger" aria-expanded="false"> 
                    <span id="sortBySquare">{{ 'filter.meters' | t }}</span>
                    <span>
                        <a class="caret caret_filter top" id="sortBySquareAsc"></a>
                        <a class="caret caret_filter bottom" id="sortBySquareDesc"></a>
                    </span>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown listing_filter_select order_filter">
                <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
                    <span id="sortByDate">{{ 'filter.is-new' | t }}</span>
                    <span>
                        <a class="caret caret_filter top" id="sortByDateAsc"></a>
                        <a class="caret caret_filter bottom" id="sortByDateDesc"></a>
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>
{%- endif -%}
<div class="busy-indicator-product">
    <div class="spinner" id="contact-us-form-spinner-footer">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<div class="product-list row" id="list-products">
    {% paginate collection.products by 36 %}
        {% assign link_index = collection.products.size | divided_by: 2 %}
        {% for product in collection.products %}
            <div class="col-md-4 has_prop_slider  listing_wrapper">
            {% include 'product-grid-item', product: product %}
            </div>
            {% if  forloop.index == link_index and type_product != null %}
                {% include 'product-link-list' %}
            {% endif %}
        {% endfor %}
    {% endpaginate %}
</div>
{% if paginate.pages > 1 %}
    {% include 'pagination-custom' %}
{% endif %}