<div class="row order">
   <div class="listing_filters_head">
      <div class="col-md-2 order-text">
        {{ 'filter.order' | t }}
      </div>
      <div class="col-md-9 order-by">   
        <div class="dropdown listing_filter_select">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
                {{ 'filter.price' | t }} 
                <span>
                    <a class="caret caret_filter top"></a>
                    <a class="caret caret_filter bottom"></a>
                </span>
            </div>
        </div>
        <div class="dropdown listing_filter_select">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
                {{ 'filter.meters' | t }} 
                <span>
                    <a class="caret caret_filter top"></a>
                    <a class="caret caret_filter bottom"></a>
                </span>
            </div>
        </div>
        <div class="dropdown listing_filter_select order_filter">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
                {{ 'filter.is-new' | t }}
                <span>
                    <a class="caret caret_filter top"></a>
                    <a class="caret caret_filter bottom"></a>
                </span>
            </div>
        </div>
      </div>
   </div>
</div>
<div class="row product-list">
    {% paginate collection.products by 36 %}
        {% assign link_index = collection.products.size | divided_by: 2 %}
        {% for product in collection.products %}
            {% include 'product-grid-item', product: product %}
            {% if  forloop.index == link_index and type_product != null %}
                {% include 'product-link-list' %}
            {% endif %}
        {% endfor %}
        {% if paginate.pages > 1 %}
            {% include 'pagination-custom' %}
        {% endif %}
    {% endpaginate %}
</div>