<div class="order row">
    <ul>
        <li class="text">{{ 'filter.order' | t }}</li>
        <li>
            <div class="dropdown listing_filter_select">
                <div data-toggle="dropdown" id="sortByPrice" class="filter_menu_trigger" aria-expanded="false"> 
                    {{ 'filter.price' | t }} 
                    <span>
                        <a class="caret caret_filter top"></a>
                        <a class="caret caret_filter bottom"></a>
                    </span>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown listing_filter_select">
                <div data-toggle="dropdown" id="sortBySquare" class="filter_menu_trigger" aria-expanded="false"> 
                    {{ 'filter.meters' | t }} 
                    <span>
                        <a class="caret caret_filter top"></a>
                        <a class="caret caret_filter bottom"></a>
                    </span>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown listing_filter_select order_filter">
                <div data-toggle="dropdown" id="sortByDate" class="filter_menu_trigger" aria-expanded="false"> 
                    {{ 'filter.is-new' | t }}
                    <span>
                        <a class="caret caret_filter top"></a>
                        <a class="caret caret_filter bottom"></a>
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="product-list" id="list-products">
    {% paginate collection.products by 36 %}
        {% assign link_index = collection.products.size | divided_by: 2 %}
        {% for product in collection.products %}
            <div class="col-md-4 has_prop_slider  listing_wrapper">
            {% include 'product-grid-item', product: product %}
            </div>
            {% if  forloop.index == link_index and type_product != null %}
                {% include 'product-link-list' %}
            {% endif %}
        {% endfor %}
        {% if paginate.pages > 1 %}
            {% include 'pagination-custom' %}
        {% endif %}
    {% endpaginate %}
</div>