<div class="row">
    <div class="row">
        <div class="header-container breadcrumb_container">
            {% include 'breadcrumb' %}
        </div>
    </div>
    {% include 'headers/header-about' %}
    {% include 'headers/city-header' %}
</div>