<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="VirtoCommerceBaseUrl" connectionString="http://localhost/admin" />
    </connectionStrings>
    <appSettings>
        <add key="vc-public-ApiAppId" value="27e0d789f12641049bd0e939185b4fd2" />
        <add key="vc-public-ApiSecretKey" value="34f0a3c12c9dbb59b63b5fece955b7b2b9a3b20f84370cba1524dd5c53503a2e2cb733536ecf7ea1e77319a47084a3a2c9d94d36069a432ecc73b72aeba6ea78" />
        <add key="RegionCategoryId" value="654dbd245eb2484fa5ccd8ffd69387da" />
        <add key="CityCategoryId" value="06d09840154341a4b4564aa9b94b06b3" />
        <add key="TypeCategoryId" value="2036643b08794d149e1722adbe0230e8" />
        <add key="MasterCatalogId" value="ddada1a8f0b14831890b6c67912442bc" />
        <add key="EstateTypeCategoryId" value="2036643b08794d149e1722adbe0230e8" />
        <add key="TagCategoryId" value="d6cce7c7d9854f609ab3fd5109d79a57" />
        <add key="ConditionCategoryId" value="efb222551d45446f89597cb2e5391e3b" />
        <add key="OtherTypeCategoryId" value="e2c000ac94e44f6db47af5ba103c5c5d" />
        <add key="CitiesConditionsCategoryId" value="815ddf6797f045f69e8e53605baa00b7" />
        <add key="CitiesEstatetypesConditionsCategoryId" value="00d8afcebe4b4f6ab02aab523c441bff" />
        <add key="CitiesEstatetypesCategoryId" value="834c195a10c44bd582d32c99f6f8ebe7" />
        <add key="CitiesEstatetypesTagsCategoryId" value="39511a105f124f86a82a37056b74e215" />
        <add key="CitiesTagsCategoryId" value="482d6976884d42958863fda2cf91a91a" />
        <add key="EstatetypesTagsCategoryId" value="f3d9acf66a6049e7b01b83519a5ed317" />
        <add key="RegionEstatetypeCategoryId" value="4069bf77b3004921aa1e1a96eff1bab7" />
        <add key="RegionTagsCategoryId" value="2a457c6498aa4341ad380edc046a019a" />
        <add key="RegionsConditionsCategoryId" value="dafbaa8a96da4ea4bdfd67bf707c116b" />
        <add key="RegionsEstatetypesConditionsCategoryId" value="46f93fa133674323a98b9cbc55d7dfb6" />
        <add key="RegionsEstatetypesTagsCategoryId" value="417574fdb3914d5bb620a705c31dc5b4" />
        <add key="ConditionEstatetypesCategoryId" value="b2e5670ffad94288830a8c3b0489e976" />
        <add key="ConditionTagsCategoryId" value="eac5828809f34ab7b59ab1e78199be5f" />
        <add key="DictOtherTypeCategoryId" value="754bca93cdcc49fda013a617b89ed4ee" />
        <add key="SinglePageCategoryId" value="8a51d21eae164cafb66622dfd4814c5e" />
        <add key="MasterStoreId" value="MasterStore" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
