<rewriteMaps>
  <rewriteMap name="EsRedirects">
    <add key="/villy-doma" value="/villy?estatetype=villy-doma"/>
    <add key="/villy-doma?type=dom" value="/doma?estatetype=villy-doma"/>
    <add key="/villy-doma?type=kottedzy" value="/kottedzhi?estatetype=villy-doma"/>
    <add key="/villy-doma?type=osobnyaky" value="/osobnyaki?estatetype=villy-doma"/>
    <add key="/villy-doma?type=pomestya" value="/search?estatetype=villy-doma&amp;type=pomestya"/>
    <add key="/villy-doma?type=ysadbi" value="/search?estatetype=villy-doma&amp;type=ysadbi"/>
    <add key="/villy-doma?type=selskie-doma" value="/search?estatetype=villy-doma&amp;type=selskie-doma"/>
    <!-- from filter-->
    <add key="/villy-doma&amp;from_filter=1" value="/villy?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?from_filter=1" value="/villy?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?type=dom&amp;from_filter=1" value="/doma?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?type=kottedzy&amp;from_filter=1" value="/kottedzhi?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?type=osobnyaky&amp;from_filter=1" value="/osobnyaki?estatetype=villy-doma&amp;from_filter=1"/>
  </rewriteMap>
</rewriteMaps>