<rewriteMaps>
  <rewriteMap name="EsRedirects">
    <add key="/villy-doma" value="/villy?estatetype=villy-doma"/>
    <add key="/villy-doma?type=dom" value="/doma?estatetype=villy-doma"/>
    <add key="/villy-doma?type=kottedzy" value="/kottedzhi?estatetype=villy-doma"/>
    <add key="/villy-doma?type=osobnyaky" value="/osobnyaki?estatetype=villy-doma"/>
    <add key="/villy-doma?type=pomestya" value="/search?estatetype=villy-doma&amp;type=pomestya"/>
    <add key="/villy-doma?type=ysadbi" value="/search?estatetype=villy-doma&amp;type=ysadbi"/>
    <add key="/villy-doma?type=selskie-doma" value="/search?estatetype=villy-doma&amp;type=selskie-doma"/>
    <add key="/villy-doma?type=villi" value="/villy?estatetype=villy-doma" />
    <!-- from filter-->
    <add key="/villy-doma&amp;from_filter=1" value="/villy?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?from_filter=1" value="/villy?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?type=dom&amp;from_filter=1" value="/doma?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?type=kottedzy&amp;from_filter=1" value="/kottedzhi?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?type=osobnyaky&amp;from_filter=1" value="/osobnyaki?estatetype=villy-doma&amp;from_filter=1"/>
    <add key="/villy-doma?type=villi&amp;from_filter=1" value="/villy?estatetype=villy-doma&amp;from_filter=1" />
  </rewriteMap>
  <rewriteMap name="EsStaticRedirect">
    <add key="/novostorjki-ispania" value="/novostroyki"/>
    <add key="/townhouse-i-bungalo-v-ispanii" value="/townhouse"/>
    <add key="/elitnaya-nedvizhimost" value="/elitnaya"/>
    <add key="/nedorogaya-nedvizhimost" value="/nedorogaya"/>
    <add key="/kvartiry-v-ispanii" value="/kvartiry-apartamenty"/>
    <add key="/villy-doma-na-beregu-morya" value="/villy-doma/na-more"/>
    <add key="/dom-v-ispanii" value="/doma"/>
    <add key="/cbla2112-apartamenti-terrasa-centr-torrevieha-costa-blanca" value="/cbla2112-apartamenty-terrasa-centr-torrevieha-costa-blanca"/>
    <add key="/cblv16112-villa-s-bolshoj-territoriej-altea-costa-blanca" value="/cblv16112-villa-s-bolshoj-territoriej-altea-costa-blana"/>
    <add key="/cbrk29129-kvartira-v-kilometre-ot-moria-barselona-costa-brava" value="/cbrk29129-kvartira-v-kilometre-ot-moria-barselon-costa-brava"/>
    <add key="/cbrk29126-kvartira-riadom-s-morem-barselona-costa-brava" value="/cbrk29126-kvartira-riadom-s-morem-barselon-costa-brava"/>
    <add key="/cbrk291210-kvartira-na-vtoroj-linii-moria-barselona-costa-brava" value="/cbrk291210-kvartira-na-vtoroj-linii-moria-barselon-costa-brava"/>
    <add key="/cbrk29127-kvartira-s-remontom-barselona-costa-brava" value="/cbrk29127-kvartira-s-remontom-barselon-costa-brava"/>
    <add key="/cdrt27122-townhouse-riadom-s-morem-salou-costa-dorada" value="/cdrt27122-townhouse-riadom-s-morem-salou"/>
    <add key="/costa-blanca/bungalo-v-ispanii-more" value="/bungalo-v-ispanii-more"/>
    <add key="/cdrk27127-kvartira-y-moria-costa-dorada" value="/cdrk27127-kvartira-costa-dorada"/>
    <add key="/costa-blanca/novii-taunhouse-s-basseymon" value="/novii-taunhouse-s-basseymon"/>
    <add key="/cdrt27121-townhouse-riadom-s-morem-torredembarra-costa-dorada" value="/cdrt27121-townhouse-riadom-s-morem-costa-dorada"/>
    <add key="/cdrt27123-townhouse-y-moria-costa-dorada" value="/cdrt27123-townhouse-y-moria-calafell"/>
    <add key="/cdrk27126-kvartira-y-moria-salou" value="/cdrk27126-kvartira-y-moria"/>
    <add key="/costa-blanca/taunhouse-dom-basseyn" value="/taunhouse-dom-basseyn"/>
    <add key="/cblk1612-kvartira-dupleks-ryadom-s-polyami-dlya-golfa-oriuela-kosta-blanka" value="/cblk1612-kvartira-dupleks-ryadom-s-polyami-dlya-golfa-oriuela-costa-blanka"/>
    <add key="/cbla211-apartamenti-ryadom-plyaz-la-mata-costa-blanca" value="/cbla211-apartamenty-ryadom-plyazh-la-mata-costa-blanca"/>
    <add key="/costa-blanca/novie-bungalo-v-ispanii" value="/novie-bungalo-v-ispanii"/>
    <add key="/costa-blanca/taunhause-pervaya-liniya" value="/taunhause-pervaya-liniya"/>
    <add key="/cblk29112-kottedg-s-bassejnom-la-zenia-costa-blanca" value="/cblk29112-kottedg-s-bassejnom-la-zenia-costa-blanc"/>
    <add key="/cdrt27124-townhouse-s-sadom-torredembarra" value="/cdrt27124-townhouse-s-sadom-costa-dorada"/>
    <add key="/cbrk1611-kvartira-ot-zastrojshchika-vtoraya-liniya-lloret-de-mar-costa-brava" value="/cbrk1611-kvartira-ot-zastrohchika-vtoraya-liniya-lloret-de-mar-costa-brava"/>
    <add key="/costa-blanca/premium-taunhouse" value="/premium-taunhouse"/>
    <add key="/cdrt27125-townhouse-s-sadom-torredembara" value="/cdrt27125-townhous-s-sadom-torredembara"/>
    <add key="/cbrk27129-kvartira-costa-brava" value="/cbrk27129-kvartira-lloret-de-mar"/>
    <add key="/cbrk29125-kvartira-s-balkonom-barselona-costa-brava" value="/cbrk29125-kvartira-s-balkonom-barselon-costa-brava"/>
    <add key="/costa-blanca/doma-v-ciudad" value="/doma-v-ciudad"/>
    <add key="/costa-blanca/taunhause-s-basseynami" value="/taunhause-s-basseynami"/>
    <add key="/costa-blanca/taunhouse-s-basseynom" value="/taunhouse-s-basseynom"/>
    <add key="/costa-blanca/taunhouse-new" value="/taunhouse-new"/>
    <add key="/cblp2023-zemelnyi-uchstok-s-proektom-4-varianta-javea-costa-blanca" value="/cblp2023-zemelnyi-uchastok-s-proektom-4-varianta-javea-costa-blanca"/>
    <add key="/estate-spaincom/cbrh2143-dva-otdelnykh-doma-tossa-de-mar-costa-brava" value="/cbrh2143-dva-otdelnykh-doma-tossa-de-mar-costa-brava"/>
    <add key="/cblk821-kvartira-5-komnat-est-vsya-mebel-alicante-costa-blanca" value="/cblk8211-kvartira-3-spalni-placita-del-bon-repos-alicante-costa-blanca"/>
    <add key="/uchastok-dla-investproekta-ispania" value="/cbrp2824-zemelnyi-uchastok-vid-na-more-lloret-de-mar-costa-brava"/>
    <add key="/proekt-s-uchastkom-zemli-costa-brava" value="/cbrz322-usadba-xvii-veka-na-pole-dla-golfa-platja-d-aro"/>
    <add key="/nedvizhimost-v-ispanii" value="//"/>
    <add key="/cblk5102-trexkomnatnaya-kvartira-dyplex-arenal-javea-costa-blanca" value="/cdrh18411-dom-s-vidom-na-more-tarragona-costa-dorada#t-carousel16389068"/>
    <add key="/cbrh1741-dom-na-bolshom-uchastke-lloret-de-mar-costa-brava" value="/cdrh18411-dom-s-vidom-na-more-tarragona-costa-dorada#t-carousel16389068"/>
    <add key="/cdsv1714-novaia-villa-riadom-s-plagem-puerto-banus-costa-del-sol" value="/cdsv1713-novaia-villa-riadom-s-plagem-puerto-banus-costa-del-sol"/>
    <add key="/cbrv1241-villa-na-pervoi-linii-morya-santa-cristina-de-aro-costa-brava" value="/cbrh2844-dom-s-basseinom-na-pervoi-linii-morya-sant-feliu-de-guixols-costa-brava"/>
    <add key="/cbrh2931-dom-4-etazha-solyarij-vid-na-more-playa-de-aro-costa-brava" value="/cbrd7312-dom-4-etazha-playa-de-aro-costa-brava"/>
    <add key="/cbrh2945-dom-v-tikhoy-urbanizatsii-goroda-lloret-de-mar-costa-brava" value="/cbrh2546-house-s-vidom-na-more-lloret-de-mar-costa-brava"/>
    <add key="/kvartiry-s-turisticheskoy-licenziey-barselona" value="/cbra24313-blok-iz-3-apartamentov-v-barcelona"/>
    <add key="/kvartira-pod-sdachu-turizm-barselona" value="/cbrk8123-kvartira-s-turisticheskoj-litsenziej-costa-brava"/>
    <add key="/cbrk232-kvartira-2-spalni-bolshaya-terrasa-playa-de-aro-costa-brava" value="/cbrk2721-atiko-2-spalni-bolshaya-terrasa-plaja-d-aro-costa-brava"/>
    <add key="/novosti/dajdzhest-novostej-ispanskoj-nedvizhimosti-19-26-maja-2017" value="/news/dajdzhest-novostej-ispanskoj-nedvizhimosti-19-26-maja-2017"/>
    <add key="/novosti/dajdzhest-novostej-ispanskoj-nedvizhimosti-8-06-2017" value="/news/dajdzhest-novostej-ispanskoj-nedvizhimosti-8-06-2017"/>
    <add key="/novosti/rynok-nedvizhimosti-ispainii-maj-2017" value="/news/rynok-nedvizhimosti-ispainii-maj-2017"/>
    <add key="/info/mipim-2017" value="/news/mipim-2017"/>
    <add key="/info/nedvizhimost-v-ispanii-ceny-2017" value="/news/nedvizhimost-v-ispanii-ceny-2017"/>
    <add key="/nedvizhimost-v-ispanii-spantao" value="/news/nedvizhimost-v-ispanii-spantao"/>
    <add key="/obzory/ceny-na-nedvizhimost-2016-2017" value="/news/ceny-na-nedvizhimost-2016-2017"/>
    <add key="/obzory/itogi-foruma-nedvizhimosti-mipmi-2017" value="/news/itogi-foruma-nedvizhimosti-mipmi-2017"/>
    <add key="/kak-stroyat-doma-v-ispanii" value="/style/kak-stroyat-doma-v-ispanii"/>
    <add key="/zolotoy-lev-architecture" value="/style/zolotoy-lev-architecture"/>
    <add key="/aeroporty-ispanii-2017" value="/info/aeroporty-ispanii-2017"/>
    <add key="/ispania-rossija-sravnenie-cen" value="/info/ispania-rossija-sravnenie-cen"/>
    <add key="/poisk-zhilya-v-ispanii" value="/info/poisk-zhilya-v-ispanii"/>
    <add key="/arenda-zhilja-ispania-ceny" value="/info/arenda-zhilja-ispania-ceny"/>
    <add key="/arenda-zhilya-ispaniya" value="/info/arenda-zhilya-ispaniya"/>
    <add key="/arenda-zhilya-v-ispanii" value="/info/arenda-zhilya-v-ispanii"/>
    <add key="/aviareisy-rossija-ispaniya" value="/info/aviareisy-rossija-ispaniya"/>
    <add key="/obzory/gde-poluchit-vizu-v-ispaniju-2017" value="/info/gde-poluchit-vizu-v-ispaniju-2017"/>
    <add key="/nalogi-na-nedvizhimost" value="/info/nalogi-na-nedvizhimost"/>
    <add key="/pmzh-v-ispanii" value="/info/pmzh-v-ispanii"/>
    <add key="/ispania-vid-na-zhitelstvo" value="/info/ispania-vid-na-zhitelstvo"/>
    <add key="/kak-kupit-nedvizhimost-ispanii" value="/info/kak-kupit-nedvizhimost-ispanii"/>
    <add key="/kak-vibrat-kvartiru-dom-v-ispanii" value="/info/kak-vibrat-kvartiru-dom-v-ispanii"/>
    <add key="/kak-vibrat-nedvizhimost-v-ispanii" value="/info/kak-vibrat-nedvizhimost-v-ispanii"/>
    <add key="/kak-vibrat-villu-apartamenty-v-ispanii" value="/info/kak-vibrat-villu-apartamenty-v-ispanii"/>
    <add key="/kak-vibrat-zhilie-v-ispanii" value="/info/kak-vibrat-zhilie-v-ispanii"/>
    <add key="/nalogi-i-kommunalnie-uslugi" value="/info/nalogi-i-kommunalnie-uslugi"/>
    <add key="/nedvizhimost-investicii" value="/info/nedvizhimost-investicii"/>
    <add key="/oshibki-ivesticii-ispania" value="/info/oshibki-ivesticii-ispania"/>
    <add key="/pokupka-ispania-sovety" value="/info/pokupka-ispania-sovety"/>
    <add key="/obzory/kak-uletet-v-ispaniju-bilety" value="/info/kak-uletet-v-ispaniju-bilety"/>
    <add key="/obozory/benidorm-poleznaya-informacia" value="/obzory/benidorm-poleznaya-informacia"/>
    <add key="/obozory/tarragona-poleznaya-informacia" value="/obzory/tarragona-poleznaya-informacia"/>
    <add key="/alicante-ispania-turizm" value="/obzory/alicante-ispania-turizm"/>
    <add key="/torrevieja-chto-posmotret" value="/obzory/torrevieja-chto-posmotret"/>
    <add key="/torrevieja-pliazhy-2016" value="/obzory/torrevieja-pliazhy-2016"/>
    <add key="/info/karnaval-ispania-torrevieja-2017" value="/blog/karnaval-ispania-torrevieja-2017"/>
    <add key="/info/novyj-god-rozhdestvo-v-ispanii-1" value="/blog/novyj-god-rozhdestvo-v-ispanii-1"/>
    <add key="/info/novyj-god-rozhdestvo-v-ispanii-2" value="/blog/novyj-god-rozhdestvo-v-ispanii-2"/>
    <add key="/info/ispanija-v-nojabre-kuda-pojti" value="/blog/ispanija-v-nojabre-kuda-pojti"/>
    <add key="/novyj-god-v-ispanii-tradicii-tio-de-nadal" value="/blog/novyj-god-v-ispanii-tradicii-tio-de-nadal"/>
    <add key="/sagrada-corazon-torrevieja-2016" value="/blog/sagrada-corazon-torrevieja-2016"/>
    <add key="/osvezhajushie-napitki-ispania" value="/blog/osvezhajushie-napitki-ispania"/>
    <add key="/kabinki-dlya-pereodevaniya" value="/blog/kabinki-dlya-pereodevaniya"/>
    <add key="/evro-2016" value="/blog/evro-2016"/>
    <add key="/fogueres-de-sant-joan" value="/blog/fogueres-de-sant-joan"/>
    <add key="/habaneras-en-la-playa" value="/blog/habaneras-en-la-playa"/>
    <add key="/moros-y-cristianos" value="/blog/moros-y-cristianos"/>
    <add key="/nauticalexperience" value="/blog/nauticalexperience"/>
    <add key="/san-huan-2016" value="/blog/san-huan-2016"/>
    <add key="/coloniagatos-torrevieja" value="/blog/coloniagatos-torrevieja"/>
    <add key="/gornolyzhnaja-ispanija-populjarnye-kurorty" value="/blog/gornolyzhnaja-ispanija-populjarnye-kurorty"/>
    <add key="/horchata" value="/blog/horchata"/>
    <add key="/ispanskaya-kuchnia" value="/blog/ispanskaya-kuchnia"/>
    <add key="/jose-maria-py" value="/blog/jose-maria-py"/>
    <add key="/korichnevyj-patrul" value="/blog/korichnevyj-patrul"/>
    <add key="/koroleva-fiestas-corazon-2016" value="/blog/koroleva-fiestas-corazon-2016"/>
    <add key="/kto-iz-zvezd-imeet-nedvizhimost-v-ispanii" value="/blog/kto-iz-zvezd-imeet-nedvizhimost-v-ispanii"/>
    <add key="/obzory/leto-v-ispanii-raspisanie-sobytij-2017" value="/blog/leto-v-ispanii-raspisanie-sobytij-2017"/>
    <add key="/obzory/harakter-mentalitet-ispantsev" value="/blog/harakter-mentalitet-ispantsev"/>
    <add key="/obzory/ekskursija-na-vinogradniki-ispanii-bodegas-marques-de-riscal" value="/blog/ekskursija-na-vinogradniki-ispanii-bodegas-marques-de-riscal"/>
    <add key="/rasprodazha-v-ispanii" value="/blog/rasprodazha-v-ispanii"/>
    <add key="/rynki-ispanii-ceny" value="/blog/rynki-ispanii-ceny"/>
    <add key="/info/obrazovanie-v-ispanii" value="/blog/obrazovanie-v-ispanii"/>
    <add key="/obzory/ispanskie-pashalnye-bljuda" value="/blog/ispanskie-pashalnye-bljuda"/>
    <add key="/undefined" value="/"/>
    <add key="/cblk1029-apartamenty-v-oropesa-del-mar" value="/valencia" />
    <add key="/cblk2258-kvartira-1-spalnya-ryadom-s-morem-mar-azul-torrevieja" value="/torrevieja" />
    <add key="/cblk2254-kvartira-v-rayone-plyazha-del-cura-torrevieja" value="/torrevieja" />
    <add key="/cbla2253-apartamenty-2-spalni-terrasa-torrevieja-costa-blanca" value="/torrevieja" />
    <add key="/apartments-in-punta-prima-eng" value="/punta-prima" />
    <add key="/apartments-in-punta-prima" value="/punta-prima" />
    <add key="/obozory" value="/obzory" />
    <add key="/ispania-novosti" value="/news" />
    <add key="/apartamenty-v-la-duquesa" value="/kvartiry-apartamenty" />
    <add key="/spain/apartment/show/sell/4" value="/kvartiry-apartamenty" />
    <add key="/kto-letaet-v-ispaniju-deshevye-bilety" value="/info/kak-uletet-v-ispaniju-bilety" />
    <add key="/elintaya" value="/elitnaya" />
    <add key="/cblk261111-apartamenty-na-vtoroy-linii-morya-v-denii" value="/denia" />
    <add key="/cdsk2748-kvartira-riadom-s-morem-costa-del-sol" value="/costa-del-sol" />
    <add key="/cdsk2412-novie-kvartiry-penthausy-zolotaya-milya-costa-del-sol" value="/costa-del-sol" />
    <add key="/cdsa18511-prostornye-apartamenty-s-terrasoy-benalmadena-costa-del-sol" value="/costa-del-sol" />
    <add key="/cdsk1366-kvartira-v-centre-goroda-malaga-costa-del-sol" value="/costa-del-sol" />
    <add key="/cbrp13125-penthouse-s-dvymia-nerrasami-platja-d-aro-costa-brava" value="/costa-brava" />
    <add key="/cbla24513-novye-apartamenty-terrasa-5-besseinov-sportzal-torrevieja-costa-blanca" value="/costa-blanca" />
    <add key="/cblk1612-kvartira-dupleks-ryadom-s-polyami-dlya-golfa-oriuela-costa-blanka" value="/costa-blanca" />
    <add key="/cblk269-kvartira-v-alicante-costa-blanca" value="/costa-blanca" />
    <add key="/cblk263-kvartira-v-centre-alicante-costa-blanca" value="/costa-blanca" />
    <add key="/cblk267-kvartira-v-alicante-costa-blanca" value="/costa-blanca" />
    <add key="/cblk3032-kvartira-20-metrov-ot-morya-denia-costa-blanca" value="/costa-blanca" />
    <add key="/cblk1219-kvartira-s-vidom-na-more-albir-alikante-costa-blanca" value="/costa-blanca" />
    <add key="/cblk21318-kvartira-ryadom-s-morem-kompleks-azucena-del-mar-san-pedro-del-pinatar" value="/costa-blanca" />
    <add key="/cbla24511-novye-apartamenty-terrasa-bassein-punta-prima-costa-blanca" value="/costa-blanca" />
    <add key="/cblb2358-bungalo-3-spalni-bassein-torrevieja-costa-blanca" value="/costa-blanca" />
    <add key="/cblk18514-kvartira-terrasa-bassein-vid-na-park-torrevieja-costa-blanca" value="/costa-blanca" />
    <add key="/cblk2351-kvartira-vozle-playa-del-cura-torrevieja-costa-blanca" value="/costa-blanca" />
    <add key="/cblk265-kvartira-v-alicante-costa-blanca" value="/costa-blanca" />
    <add key="/cblk268-kvartira-v-alicante-costa-blanca" value="/costa-blanca" />
    <add key="/cblk726-kvartira-2-komnaty-centr-goroda-ryadom-s-plyazhem-torrevieja-costa-blanca" value="/costa-blanca" />
    <add key="/cblk8220-kvartira-3-spalni-сarolinas-altas-alicante-costa-blanca" value="/costa-blanca" />
    <add key="/cblt2455-kvartira-riadom-s-morem-orihuela-costa-costa-blanca" value="/costa-blanca" />
    <add key="/cblv1637-villa-s-ogromnoy-otkrytoy-terrasoy-altea-hills-costa-blanca" value="/costa-blanca" />
    <add key="/la-marina" value="/costa-blanca" />
    <add key="/сosta-blanca" value="/costa-blanca" />
    <add key="/ cbrk29121-kvartira-3-komnaty-blanes-girona-costa-brava" value="/cbrk29121-kvartira-3-komnaty-blanes-girona-costa-brava" />
    <add key="/ cblv16112-villa-s-bolshoj-territoriej-altea-costa-blanсa" value="/cblv16112-villa-s-bolshoj-territoriej-altea-costa-blana" />
    <add key="/ cblk29112-kottedg-s-bassejnom-la-zenia-costa-blanca" value="/cblk29112-kottedg-s-bassejnom-la-zenia-costa-blanc" />
    <add key="/ cblk21125-kvartira-v-centre-moraira-costa-blanca" value="/cblk21125-kvartira-v-centre-moraira-costa-blanca" />
    <add key="/ cblk21118-kvartira-na-beregy-moria-altea-costa-blanca" value="/cblk21118-kvartira-na-beregy-moria-altea-costa-blanca" />
    <add key="/ cblk11121-trekhkomnatnaya-kvartira-v-centre-altea-costa-blanca" value="/cblk11121-trekhkomnatnaya-kvartira-v-centre-altea-costa-blanca" />
    <add key="/ cbla2611-apartamenty-pervaya-liniya-morya-alicante-costa-blanca" value="/cbla2611-apartamenty-pervaya-liniya-morya-alicante-costa-blanca" />
    <add key="/blogs" value="/blog" />
    <add key="/benalmadena-kvartira" value="/benalmadena" />
    <add key="/cdsp11111-penthaus-v-novoj-andalusii-puerto-banus" value="/andalusia" />
    <add key="/alicante/doma-villy" value="/alicante/villy-doma" />
    <add key="/alicante/townhouse" value="/alicante" />
    <add key="/cblk2610-kvartira-3-spalni-v-tsentralnom-rajone-alicante" value="/alicante" />
    <add key="/noindexcbr" value="/" />
    <add key="/testnew" value="/" />
    <add key="/noindexcbls" value="/" />
    <add key="/content/reccomendcompany" value="/" />
    <add key="/content/services" value="/" />
    <add key="/core" value="/" />
    <add key="/notfound" value="/" />
    <add key="/spain/costadelsol" value="/costa-del-sol" />
    <add key="/spain/costadelsol/2" value="/costa-del-sol" />
    <add key="/spain/realty/sell/2" value="/costa-del-sol" />
  </rewriteMap>
</rewriteMaps>