<div class="header_media with_search_6">
    <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url('{{- 'images/header-vacancy.jpg' | static_asset_url -}}')">
        <div class="description-header blog-header-container">
            <h1 class="blog-header">
                {{ 'job.header-main' | t }}
            </h1>
        </div>
    </div>
</div>
<div class="container content_wrapper about-page">   
{% include 'breadcrumb' %}
<div class="row">
        <div class="col-md-12">
            <div style="margin:0 15px 45px 15px" class="text-center">
                Estate Spain -  молодой и амбициозный проект группы компаний Virtoway, имеющей 17-летнюю историю работы и офисы по всему миру.  Каждый день наш сайт посещают более 1000 человек, заинтересованных в покупке недвижимости в Испании.  Нас ценят за технологическое лидерство, высокий уровень автоматизации всех бизнес-процессов и исключительный профессионализм.  Если Вы разделяете наш подход - присоединяйтесь к нашей молодой и дружной команде прямо сегодня -  отправьте резюме!
            </div>
            <div class="row">
                <h3 class="text-center" >Менеджер по продаже недвижимости (риэлтор)</h3>
                <div class="about-hr" style="margin: auto"></div>
                <div class="col-md-6 col-xs-12" style="margin-top:30px;">
                    <h4>Базовые требования</h4>
                    <ul>
                        <li>Успешный опыт работы в сфере недвижимости на территории Испании - не менее двух лет – обязательное требование.</li>
                        <li>Базовый язык – русский, отличное знание испанского и английского языков (разговорная речь и деловая переписка).</li>
                        <li>Высшее образование.</li>
                        <li>Мобильность, готовность к командировкам в переделах Испании (материк и острова).</li>
                        <li>Коммуникабельность, самостоятельность в работе, умение добиваться поставленных целей.</li>
                        <li>Личный автомобиль.</li>
                    </ul>
                    <div class="text-center">
                        <h3 style="margin:0px;padding:0px;">Ждем ваше резюме</h3>
                        <strong>на почту</strong>: <a href="mailto:job@estate-spain.com">job@estate-spain.com</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12"  style="margin-top:30px;">
                    <h4>Обязанности</h4>
                    <ul>
                        <li>Поиск партнеров (агентств недвижимости и застройщиков)</li>
                        <li>Проведение переговоров и согласование условий сотрудничества</li>
                        <li>Подключение партнеров к работе, формирование базы объектов недвижимости (добавление, актуализация)</li>
                        <li>Ведение документооборота с партнерами – заключение договоров, финансовый контроль</li>
                        <li>Разработка и усовершенствование методики работы с партнерами</li>
                        <li>Помощь в подготовке контента (фото и видео материалов) для сайта.</li>
                    </ul>                
                    <h4>Что мы предлагаем</h4>
                    <ul>
                        <li>Доход и эффективную систему мотивации (оклад от 1500 Евро + %)</li>
                        <li>Оформление по контракту, работу в офисе (Коста Бланка, Испания)</li>
                        <li>Высокий уровень автоматизации бизнес-процессов</li>
                        <li>Рост востребованных компетенций и дохода в динамично развивающемся проекте</li>
                        <li>Интересная работа в молодой дружной команде профессионалов</li>
                        <li>Ежедневное использование иностранных языков в работе</li>
                        <li>Компенсационный пакет: оплата амортизации автомобиля, мобильного телефона.</li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-top:40px;">
                <h3 class="text-center">Менеджер по продаже недвижимости (риэлтор)</h3>
                <div class="about-hr" style="margin: auto"></div>
                <div class="col-md-6 col-xs-12" style="margin-top:30px;">
                    <h4>Базовые требования</h4>
                    <ul>
                        <li>Успешный опыт работы в качестве менеджера по продажам недвижимости в Испании не менее пяти лет – обязательное требование.</li>
                        <li>Знание методики продаж, умение вести переговоры с клиентами и закрывать сделки – обязательное требование.</li>
                        <li>Свободное владение испанским языком, хорошее знание английского языка, грамотная русская речь.</li>
                        <li>Знание рынка жилой и коммерческой недвижимости Испании: инфраструктуры, преимуществ и недостатков отдельных районов.</li>
                        <li>Знание основ испанского законодательства, в том числе в области оформления сделок с жилой и коммерческой недвижимостью, налогообложения и содержания недвижимости, оформления виз и вида на жительство и пр.</li>
                        <li>Знание процедур оформления сделок с жилой и коммерческой недвижимостью.</li>
                        <li>Высшее образование.</li>
                        <li>ПК- уверенный пользователь, специализированные программы для работы с базами данных и CRM.</li>
                        <li>Сильная финансовая мотивация, желание построить карьеру в сфере недвижимости.</li>
                    </ul>
                    <h4 class="padding15-0">
                        Главная цель работы – увеличение объема продаж компании через развитие партнерской сети (агентств недвижимости и застройщиков в Испании).
                    </h4>
                    <div class="text-center">
                        <h3 style="margin:0px;padding:0px;">Ждем ваше резюме</h3>
                        <strong>на почту</strong>: <a href="mailto:job@estate-spain.com">job@estate-spain.com</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12"  style="margin-top:30px;">
                    <h4>Обязанности</h4>
                    <ul>
                        <li>Продажа недвижимости в Испании заинтересованным клиентам.</li>
                        <li>Подбор объектов для клиентов, ведение переговоров, предпродажное консультирование.</li>
                        <li>Организация и проведение показов на территории Испании.</li>
                        <li>Заключение сделок, документальное оформление, контроль за поступлением платежей.</li>
                        <li>Участие в формировании базы объектов недвижимости.</li>
                        <li>Участие в совершенствовании методик и системы продаж.</li>
                        <li>Помощь в подготовке контента (фото и видео материалов) для сайта.</li>
                    </ul>                
                    <h4>Что мы предлагаем</h4>
                    <ul>
                        <li>Доход и эффективную систему мотивации (оклад от 1500 Евро + %)</li>
                        <li>Оформление по контракту, работу в офисе (Коста Бланка, Испания)</li>
                        <li>Высокий уровень автоматизации бизнес-процессов</li>
                        <li>Рост востребованных компетенций и дохода в динамично развивающемся проекте</li>
                        <li>Интересная работа в молодой дружной команде профессионалов</li>
                        <li>Ежедневное использование иностранных языков в работе</li>
                        <li>Компенсационный пакет: оплата амортизации автомобиля, мобильного телефона</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
