<div class="container content_wrapper full-width" role="main">
   <div class="full-img-bg" style="background-image: url('{{- 'images/opros-header.jpg' | asset_url -}}')">
      <div class="container opros">
         <h1>{{ 'thankyou.header' | t }}</h1>
         <div class="text">{{ 'thankyou.text' | t }}</div>
      </div>
   </div>
</div>