<div class="header_media with_search_6">
</div>
<div class="container content_wrapper about-page">  
{% include 'breadcrumb' %}
<h2 class="text-center">Пользовательское соглашение</h2>
    <div>
        Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта <a href="https://estate-spain.com">https://estate-spain.com</a>  (далее — «Сайт») и является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.
    </div>
    <ul class="user-terms-list">
        <li><h3>1. Общие положения</h3></li>
        <li>
            1.1. Администрация Сайта предоставляет Пользователю доступ к использованию Сайта и его функционала на условиях, являющихся предметом настоящего Пользовательского соглашения (Соглашения). В связи с этим Пользователю необходимо внимательно ознакомиться с условиями настоящего Соглашения.
        </li>
        <li>
            1.2. Основные понятия, используемые в Соглашении: <br/>
            <strong>Сайт</strong> – совокупность текстов, графических элементов, дизайна, изображений, программного кода, сервисов, программ, фото- и видеоматериалов, и иных результатов интеллектуальной деятельности, размещенной Администрацией и/или Пользователями и содержащихся в сети Интернет по адресу (доменное имя): https://estate-spain.com (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящего Соглашения, так и запускаемые и вводимые в эксплуатацию в течение всего срока его действия); <br/>
            <strong>Администрация Сайта (Администрация, Оператор)</strong> – ООО “Виртософт”, адрес: Россия,236008, город Калининград, ул. Верхнеозерная, дом 25/7, ИНН/КПП , 3906959218/390601001, ОГРН   1153926011975<br/>
            <strong>Пользователь Сайта (Пользователь)</strong> – любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения;<br/>
            <strong>Персональные данные (Данные, Информация)</strong> – любая информация, относящаяся к прямо или косвенно определенному, или определяемому физическому лицу (субъекту персональных данных);<br/>
            <strong>Обработка Персональных данных (Обработка)</strong> – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с Персональными данными. <br/>
        </li>
        <li>
            1.3. Использование Сайта регулируется настоящим Соглашением и Политикой конфиденциальности (Приложение №1 к Соглашению). Соглашение может быть изменено и/или дополнено Администрацией в одностороннем порядке без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по адресу: https://estate-spain.com (если иное не предусмотрено новой редакцией Соглашения). Администрация Портала рекомендует Пользователям регулярно проверять условия настоящего Соглашения на предмет его изменения и/или дополнения.
        </li>
        <li>
            1.4. Начиная использовать Сайт, либо пройдя процедуру регистрации на Сайте, Пользователь считается принявшим условия Соглашения и Политики конфиденциальности в полном объёме без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать Сайт. В случае если Администрацией были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование Сайта.
        </li>
        <li>
            1.5. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
        </li>
        <li>
            <h3>2. Обязательства Пользователя</h3>
        </li>
        <li>
            2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
        </li>
        <li>
            2.2. Пользователь признает, что все материалы Сайта, в том числе: элементы дизайна, тексты, графические изображеня, иллюстрации, видео, скрипты, программы, баз данных, готовые документы (в форматах XLS, XLSX, DOC, DOCX, PDF и т.д.) и другие объекты, и их подборки (далее — Контент), по умолчанию являются объектами исключительных прав Администрации.<br/>
            Использование любых вышеперечисленных материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.
        </li>
        <li>
            2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
        </li>
        <li>
            2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.
        </li>
        <li>
            2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.
        </li>
        <li>
            2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
        </li>
        <li>
            2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.
        </li>
        <li>
            <h3>3. Обработка персональных данных</h3>
        </li>
        <li>
            Пользователь, оставляя заявку на интернет-сайте https://estate-spain.com, принимает настоящее Согласие на обработку персональных данных (далее – Согласие). Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие Администрации Сайта, на обработку своих персональных данных со следующими условиями:
        </li>
        <li>
            3.1. Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.
        </li> 
        <li>
            3.2. Согласие дается на обработку следующих моих персональных данных:<br/>
            1) Персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; адреса электронной̆ почты; место работы и занимаемая должность; пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес.
        </li>
        <li>
            3.3. Персональные данные не являются общедоступными.
        </li>
        <li>
            3.4. Цель обработки персональных данных:<br/>
            <ul>
                <li>обработка входящих запросов физических лиц с целью оказания консультирования;</li>
                <li>аналитики действий физического лица на веб-сайте и функционирования веб-сайта; проведение рекламных и новостных рассылок.</li>
            </ul>
        </li>
        <li>
            3.5. Основанием для обработки персональных данных является:
            <ul>
                <li>ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О персональных данных»; </li>
                <li>Устав ООО "Виртософт”;</li>
                <li>настоящее согласие на обработку персональных данных.</li>
            </ul>
        </li>
        <li>
            3.6. В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передача (распространение, предоставление, доступ); блокирование; удаление; уничтожение.
        </li>
        <li>
            3.7. Персональные данные обрабатываются до отписки физического лица от рекламных и новостных рассылок. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.
        </li>
        <li>
            3.8. Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления ООО “Виртософт” или его представителю по адресу, указанному в начале данного Согласия. 
        </li>
        <li>
            3.9. В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных ООО “Виртософт” вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г.
        </li>
        <li>
            3.10. Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.п. 3.7 и п.п.2.8 данного Соглашения.
        </li>
        <li>
            <h3>4. Прочие условия</h3>
        </li>
        <li>
            4.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
        </li>
        <li>
            4.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
        </li>
        <li>
            4.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
        </li>
        <li>
            4.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
        </li>
    </ul>
    <strong>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</strong>
</div>