<div class="header_media with_search_6">
   <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/city-view.jpg)">
      <div class="description-header">
         <h1 class="entry-title entry-tax">танхаусы в аликанте</h1>
         <div class="tax_tagline">Белые песчаные пляжи на морском берегу, испанское мягкое солнце, обилие развлечений и достопремечательностей - какие еще нужны причины чтобы купить танхаус в Аликанте на побережье Коста Бланки</div>
      </div>
   </div>
   <div class="search_wrapper search_wr_6  " id="search_wrapper">
      <div class="adv-search-1  adv_extended_class" id="adv-search-6">
         <div class="adv6-holder">
            <div role="tabpanel" class="adv_search_tab" id="tab_prpg_adv6">
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active">
                     {% include 'filters\main-filter' %}
                  </div> 
               </div>
            </div>
         </div>
      </div>
   </div>
</div>