{% if template contains 'collection' or template contains 'search' %}
<div class="dropdown form-control location-search">
    <input  data-ignore
            class="{%- if collection.current_region_filter or collection.current_city_filter -%}selected{%- endif -%}" 
            type="text" 
            autocomplete="off"
            placeholder="{{'filter.location-placeholder' | t }}"
            id="location-value"
            value="{%- include 'location-name' -%}">
    <input  data-ignore 
            data-city="{%- if collection.current_city_filter -%}{{- collection.current_city_filter.value -}} {%- endif -%}" 
            data-region="{%- if collection.current_region_filter -%}{{- collection.current_region_filter.value -}} {%- endif -%}"
            type="hidden" 
            id="location-path"
            value="{%- include 'location-path' -%}">
    <ul class="dropdown-menu filter_menu list location"> 
    </ul>
</div>
{% else %}
<div class="dropdown form-control location-search">
    <input  data-ignore
            class="selected" 
            type="text" 
            placeholder="{{'filter.location-placeholder' | t }}"
            id="location-value">
    <input  data-ignore 
            type="hidden" 
            id="location-path"
            value="">
    <ul class="dropdown-menu filter_menu list location"> 
    </ul>
</div>
{% endif %}