<div class="header_media with_search_6">
   <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url( {%- include 'blog/blog-header-image' -%})"> 
      <div class="description-header blog-header-container">
            {% include 'blog/blog-header-text' %}
      </div>
   </div>
</div>