<div class="row city-header">
<h2>Популярные виды недвижимости в Аликанте</h2>
<div class="row city-tails">
 <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
    <div class="block-inner">
         <div class="bottom">
            <h4>Квартиры и Аппартаменты в Аликанте</h4>
            <span>13 объектов</span>
         </div>
    </div>
 </div>
 <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
    <div class="block-inner">
        <div class="bottom">
            <h4>Виллы и Дома<br/>в Аликанте</h4>
            <span>5 объектов</span>
        </div>
    </div>
 </div>
 <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
    <div class="block-inner">
        <div class="bottom">
            <h4>Таунхаусы и бунгало<br/>в Аликанте</h4>
            <span>4 объекта</span>
        </div>
    </div>
 </div>
 <div class="col-md-9" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
    <div class="block-inner">
        <h4>Недвижимость рядом с Аликанте</h4>
        <ul>
            <li>
                <a href="#">Жирона (5)</a>
            </li>
            <li>
                <a href="#">Росес (6)</a>
            </li>
            <li>
                <a href="#">Сагаро (5)</a>
            </li>
            <li>
                <a href="#">Плайя-де-Аро (3)</a>
            </li>
            <li>
                <a href="#">Ллорет-де-Мар (5)</a>
            </li>
            <li>
                <a href="#">Эмпуриабрава (6)</a>
            </li>
        </ul>
    </div>
 </div>
 <div class="col-md-3" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
    <div class="block-inner center">
        <h4>Недвижимость в Аликанте по особеностям</h4>
        <ul>
            <li>
                <a href="#">Элитная (3)</a>
            </li>
            <li>
                <a href="#">От банков (6)</a>
            </li>
            <li>
                <a href="#">На море (20)</a>
            </li>
            <li>
                <a href="#">Недорогая (17)</a>
            </li>
            <li>
                <a href="#">В горах (7)</a>
            </li>
            <li>
                <a href="#">Заброшенная (15)</a>
            </li>
            <li>
                <a href="#">Пригород (20)</a>
            </li>
            <li>
                <a href="#">Возле уневерситета (10)</a>
            </li>
        </ul>
    </div>
 </div>
</div>
</div>