<div class="row header-about">
  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies egestas velit. Curabitur tristique arcu ac tortor maximus, quis commodo est bibendum. Vivamus sem massa, posuere at tempus at, egestas dapibus tellus. Donec sollicitudin ipsum vitae quam malesuada, eget consectetur libero accumsan. Pellentesque hendrerit pharetra turpis eget pulvinar. Mauris sit amet cursus felis. Aenean rhoncus pretium sem at vulputate. Duis et nunc sit amet justo dictum volutpat eu id quam.</span>
  <div class="link-list-about">
    {{-'collection.detail' | t -}}:
    <a id="advantagesId">{{'collection.advantages' | t }}</a>,
    <a id="approachId">{{'collection.approach' | t }}</a>,
    <a id="coastId">{{'collection.coast' | t }}</a>
  </div>
</div>
