<div class="row region-header">
   <h2>{{- meta_info_product.h2_tip -}}</h2>
   <div class="row region-tails">
      <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
         <div class="block-inner">
            <div class="bottom">
               {{- meta_info_product.link_block_type1 -}}
            </div>
         </div>
      </div>
      <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
         <div class="block-inner">
            <div class="bottom">
               {{- meta_info_product.link_block_type2 -}}
            </div>
         </div>
      </div>
      <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
         <div class="block-inner">
            <div class="bottom">
               {{- meta_info_product.link_block_type2 -}}
            </div>
         </div>
      </div>
   </div>
</div>